<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Artist</title>
    <link rel="stylesheet" href="/styles/member-add-artist.css">
</head>
<body>
    <!-- Header, Navbar -->
    <header>
        <div class="logo">
            <a href="/admin" style="text-decoration: none; color: inherit;">
                <span>&#9835;</span>
                <span>CapiList</span>
            </a>
        </div>
        <nav>
            <a href="/admin/admin-setlist">Setlist</a>
            <a href="/admin/admin-artists">Artists</a>
            <a href="/admin/admin-festivals">Festivals</a>
            <a href="/admin/members">Manage User</a>
            <a href="#about">About Us</a>
            <a href="/admin/admin-generate-report">Download Reports</a>
        </nav>
        <div class="auth-buttons">
            <a href="/logout" class="logout">Log Out</a>
      </div>
    </header>

    <form action="/admin/add-setlist" method="post">
        <div>
            <label for="show">Show:</label>
            <select id="show" name="showId" required>
                <option value="" disabled selected>Pilih Show</option>
                <th:block th:each="show : ${shows}">
                    <option th:value="${show.id}" th:text="${show.title}"></option>
                </th:block>
            </select>
        </div>
    
        <div>
            <label for="artist">Artist:</label>
            <select id="artist" name="artistId" required>
                <option value="" disabled selected>Pilih Artist</option>
                <th:block th:each="artist : ${artists}">
                    <option th:value="${artist.id}" th:text="${artist.name}"></option>
                </th:block>
            </select>
        </div>
    
        <div>
            <label for="setlist">Setlist:</label>
            <textarea id="setlist" name="setlist" placeholder="Masukkan lagu, pisahkan dengan koma"></textarea>
        </div>
    
        <button type="submit">Submit</button>
    </form>
    
    

</body>
</html>
