body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*Logor*/
.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.logo span:first-child {
    font-size: 24px;
    margin-right: 5px;
}

.logo span:last-child {
    color: #333;
}

/*Nav Bar*/
nav {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #f0f0f0;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.auth-buttons a {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #333;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.auth-buttons a:hover {
    background-color: #555;
    color: white;
}

.auth-buttons .logout {
    background-color: white;
    color: #333;
    border: 1px solid #333;
}

.auth-buttons .logout:hover {
    background-color: #e6e6e6;
}

  /*container*/

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 30px;
}

.dashboard-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.dashboard-link {
    display: block;
    padding: 15px 25px;
    font-size: 16px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dashboard-link:hover {
    background-color: #555;
}
